/* card disattivata */
.card-giocatore.disabled {
  opacity: 0.5; /* Effetto visivo di disabilitazione */
  cursor: not-allowed; /* Mostra il cursore "divieto" */
}
.card-giocatore.selected {
  background-color: rgb(0, 130, 28);
  margin-left: 10px;
}
.card-giocatore.selected .nome-giocatore,
.card-giocatore.selected .costo-acquisto {
  color: rgb(246, 255, 0);
}
.P.nome-giocatore {
  color: var(--col-P);
}
.D.nome-giocatore {
  color: var(--col-D);
}
.C.nome-giocatore {
  color: hsl(217, 93%, 66%);
}
.A.nome-giocatore {
  color: var(--col-A);
}
.P.card-giocatore {
  border-left: 5px solid var(--col-P);
}
.D.card-giocatore {
  border-left: 5px solid var(--col-D);
}
.C.card-giocatore {
  border-left: 5px solid var(--col-C);
}
.A.card-giocatore {
  border-left: 5px solid var(--col-A);
}

.card-giocatore {
  height: 60px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30px auto 30px 30px 30px;
  grid-template-rows: 30px 30px;
  grid-template-areas:
    "ruolo nome-giocatore mv costo-acquisto costo-svincolo"
    "img-squadra nome-squadra fvm costo-attuale costo-svincolo";

  font-size: small;
  align-items: center;
  text-align: center;
  background-color: var(--primary-dark);
  color: white;
  padding: 2px;
  cursor: pointer;

  transition: all 0.3s ease;
  a {
  }
  .ruolo {
    grid-area: ruolo;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: xx-small;
  }
  .nome-giocatore {
    grid-area: nome-giocatore;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
  }
  .nome-giocatore:hover {
    text-decoration: underline;
    filter: brightness(0.8);
  }

  .squadra {
    grid-area: squadra;
    font-weight: 100;

    img.img-squadra {
      display: block;
      grid-area: img-squadra;
      width: 20px;
      height: 20px;
    }
  }
  .costo-acquisto {
    grid-area: costo-acquisto;
  }
  .costo-attuale {
    grid-area: costo-attuale;
  }
  .mv {
    grid-area: mv;
    display: flex;
    flex-direction: column;
  }
  .fvm {
    grid-area: fvm;
  }
  .costo-svincolo {
    grid-area: costo-svincolo;
  }
  .nome-squadra {
    grid-area: nome-squadra;
    font-size: smaller;
    font-weight: lighter;
    text-align: left;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.etichetta {
  font-size: xx-small;
  font-weight: lighter;
  color: var(--text-muted);
}
.valore {
  font-size: smaller;
  font-weight: bold;
}
.card-giocatore:hover {
  background-color: var(--primary);
}
