/* card disattivata */
.card-giocatore.disabled {
  opacity: 0.5; /* Effetto visivo di disabilitazione */
  cursor: not-allowed; /* Mostra il cursore "divieto" */
}
.card-giocatore.selected {
  background-color: rgb(0, 130, 28);
  margin-left: 10px;
}
.card-giocatore.selected .nome-giocatore,
.card-giocatore.selected .costo-acquisto {
  color: rgb(246, 255, 0);
}
.P.nome-giocatore {
  color: var(--col-P);
}
.D.nome-giocatore {
  color: var(--col-D);
}
.C.nome-giocatore {
  color: hsl(217, 93%, 66%);
}
.A.nome-giocatore {
  color: var(--col-A);
}
.P.card-giocatore {
  border: 1px solid var(--col-P);
  border-left: 5px solid var(--col-P);
  box-shadow: 1px 1px 3px var(--col-P);
}
.D.card-giocatore {
  border: 1px solid var(--col-D);
  border-left: 5px solid var(--col-D);
  box-shadow: 1px 1px 3px var(--col-D);
}
.C.card-giocatore {
  border: 1px solid var(--col-C);
  border-left: 5px solid var(--col-C);
  box-shadow: 1px 1px 3px var(--col-C);
}
.A.card-giocatore {
  border: 1px solid var(--col-A);
  border-left: 5px solid var(--col-A);
  box-shadow: 1px 1px 3px var(--col-A);
}

.card-giocatore {
  padding: 5px;
  min-width: 170px;
  height: 70px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px 15px 30px;
  grid-template-areas:
    "ruolo nome-giocatore nome-giocatore nome-giocatore img-squadra"
    " . nome-squadra nome-squadra nome-squadra img-squadra"
    "mv fmv costo-acquisto costo-attuale costo-svincolo";

  font-size: small;
  align-items: center;
  text-align: center;
  background-color: var(--surface);
  color: var(--primary-dark);
  border-top: 1px solid var(border);
  border-bottom: 1px solid var(border);
  border-right: 1px solid var(border);
  padding: 2px;

  transition: all 0.3s ease;
  a {
    color: purple;
  }
  .ruolo {
    grid-area: ruolo;

    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: xx-small;
  }
  .nome-giocatore {
    grid-area: nome-giocatore;
    font-weight: bold;
    text-align: left;
  }
  .nome-giocatore > span.testo-nome-giocatore {
    cursor: pointer;
  }
  .nome-giocatore > span.testo-nome-giocatore:hover {
    text-decoration: underline;
    filter: brightness(0.8);
  }

  .costo-acquisto {
    grid-area: costo-acquisto;
  }
  .costo-attuale {
    grid-area: costo-attuale;
  }
  .mv {
    grid-area: mv;
    display: flex;
    flex-direction: column;
  }
  .fmv {
    grid-area: fmv;
    display: flex;
    flex-direction: column;
  }
  .costo-svincolo {
    grid-area: costo-svincolo;
    display: flex;
    flex-direction: column;
  }
  .nome-squadra {
    grid-area: nome-squadra;
    font-size: smaller;
    font-weight: lighter;
    text-align: left;
  }
}

.etichetta {
  font-size: xx-small;
  font-weight: lighter;
  color: var(--text-main);
}

.valore {
  font-size: smaller;
  font-weight: bold;
}
.card-giocatore:hover {
  background-color: var(--background-card-hover);
}

.img-squadra {
  grid-area: img-squadra;
  padding: 2px;
  display: block;
  width: 33px;
  height: 33px;
}
.box-st {
  margin: 1px;
  background-color: var(--background-box-st);
  border-radius: 5px;
  border: 1px solid var(--border);
}
.card-giocatore:hover .box-st {
  background-color: white;
}
