* {
  padding: 0;
  margin: 0;
}


:root {
  --background_primario: rgb(2, 87, 156);
}







/* contenitore che contiene tutti i box filtro */
#container-filtri {
  padding-top: 15px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: rgb(236, 243, 253);
  box-shadow: 3px 3px 10px rgba(22, 25, 44, 0.2);
  border-radius: 15px;
  margin: auto;
  justify-content: center;
  gap: 10px;
  display: none;



& #select-qt-min, 
& #select-qt-max, 
& #select-presenze-minime {
  padding-left: 10px;
  min-height: 85%;
}



& input {
  height: 90%;
}

& label {
  margin: 10px;
  font-size: 14px;
  font-style: italic;
}


/* Contenitore singolo, ogni .box-filtro va nel contenitore principale */
& .box-filtro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(197, 209, 223);
  gap: 7px;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

/* label dentro il box filtro */
& .box-filtro label {
  position: absolute;
  top: -20px;
  left: 3px;
  font-size: xx-small;
  font-style: italic;
  background-color: rgb(236, 243, 253);
  padding: 0 3px;
  white-space: nowrap;
}

& .box-filtro:hover {
  border-color: 1px solid var(--background_primario);
  color: var(--background_primario);
}

& .ruolo {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: rgb(0, 4, 43);
  border: 1px solid rgb(170, 200, 255);
  cursor: pointer;
  transition: 0.2s;
}

& .ruolo:hover {
  border-color: 3px solid var(--background_primario);
  font-weight: bold;
  background-color: white;
}

& .ruolo.selected {
  background-color: var(--background_primario);
  color: white;
  font-weight: bold;
  border-color: 3px solid var(--background_primario);
}

& .box-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(170, 200, 255);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
& #id-box-team {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
& .box-team p {
  display: block;
  font-size: 8px;
  background-color: white;
  padding: 2px;
  width: 84%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px;
}

& .box-team img {
  display: block;
  width: fit-content;
  height: 25px;

  text-align: center;
}
& .box-team:hover {
  background-color: white;
  scale: 1.3;
  border: 2px solid var(--background_primario);
}

& .box-team.selected {
  background-color: white;
  scale: 1.3;
  border: 2px solid var(--background_primario);
  color: var(--background_primario);
}
 & .box-team.selected p {
  background-color: var(--background_primario);
  color: white;
}

}
