#login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 30%;
    margin: auto;
    border: 2px solid green;
    border-radius: 50px;
    box-shadow: 10px 10px 5px grey;
    background-color: rgb(242, 253, 242);
    

}
#login-container h2{
    margin-bottom: 20px;
    color: green;
}
#login-container input{
    margin: 10px;
    padding: 10px;
    width: 80%;
    border: 1px solid grey;
    border-radius: 10px;
}
#login-container button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#login-container button:hover{
    background-color: darkgreen;
}
#login-error{
    color: red;
    margin-top: 10px;
}
#login-success{
    color: green;
    margin-top: 10px;
}
#login-container label{
    font-weight: bold;
    color: green;
    margin-bottom: 5px;
    margin-left: 10px;
}


