#navbar.chiuso {
  font-family: var(--font-menu);
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  height: 100vh;
  width: 30px;
  position: fixed;
  /*semprevisibile*/
  top: 0;
  z-index: 10;
  background-color: var(--primary-dark);
  color: var(--bg-site);
  #logo-sito: {
    width: 28px;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 10px;
  }
  #titolo {
    font-size: 1rem;
    text-align: left;
    /* white-space: nowrap;   */
    color: var(--primary-dark);
    position: absolute;
    left: 50px;
    top: 5px;
  }
  #nome-presidente {
    position: absolute;
    left: 130px;
    top: 7px;
    text-align: left;
    white-space: nowrap;
    color: var(--primary-dark);
  }
  .icona {
    width: 80%;
  }
  .etichetta {
    display: none;
  }
}
#navbar.ridotto {
  font-family: var(--font-menu);
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  height: 50px;
  width: 30px;
  position: fixed;
  /*semprevisibile*/
  top: 0;
  z-index: 10;
  background-color: var(--primary-dark);
  color: var(--bg-site);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#navbar {
  font-family: var(--font-menu);
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  height: 100vh;
  width: 150px;
  position: fixed;
  /*semprevisibile*/
  top: 0;
  z-index: 10;
  background-color: var(--primary-dark);
  color: var(--bg-site);
  ul, li: {
    width: 100%;
  }
  ul {
    padding: 0;
  }
  #logo-sito {
    width: 75px;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #titolo {
    font-size: 1rem;
    text-align: center;
    /* white-space: nowrap;   */
    color: white;
  }
  #nome-presidente {
    font-size: 0.7rem;
    text-align: center;
    white-space: nowrap;
    color: white;
    margin-bottom: 10px;
  }

  #contenitore-menu > ul {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .icona {
    display: block;
    width: 10%;
    transition: 0.4s;
  }
  .icona img {
    width: 100%;

    margin-right: 0 auto;
  }

  .etichetta {
    display: block;
    width: 90%;
    font-size: 15px;
    transition: 0.4s;
  }
  #contenitore-menu > ul > li {
    border-bottom: 1px solid var(--primary-dark);

    margin-bottom: 10px;
  }
  ul > li > .etichetta {
    color: yellow;
    font-weight: bold;
  }
  ul > li > ul > li > .etichetta {
    color: white;
    font-weight: normal;
    font-size: 12px;
  }
  ul li {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  ul > li > ul > li:hover {
    background-color: rgb(82, 95, 106);
    cursor: pointer;
  }

  /* icona menu */

  #container-btn-menu {
    position: absolute;
    top: 5px;
    right: -9px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  #btn-freccia-apri-chiudi,
  #btn-riduci {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 9px var(--primary-dark);
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary-dark);
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  #btn-freccia-apri-chiudi:hover,
  #btn-riduci:hover {
    scale: 1.2;
    color: yellow;
    border: 1px solid yellow;
    box-shadow: 3px 3px 9px rgb(103, 114, 0);
  }
}
