#navbar {
  font-family: var(--font-menu);
  display: flex;
  flex-direction: column;  
  
  height:100vh;
  width: 150px;
  position: fixed; /* sempre visibile */
  top: 0;
  z-index: 10;
  background-color: var(--primary-dark);
  color: var(--bg-site);

  ul,li{  
  width:100%;
}
ul{
  padding:3px;
}
  #logo-sito{
    width: 75px;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
#titolo{
  font-size: 1rem;
  text-align: center;
  /* white-space: nowrap;   */
  color: white;  
  
}
#nome-presidente{
  font-size:0.7rem;
  text-align: center;
  white-space: nowrap;  
  color: white;
  margin-bottom: 10px;  
}
  
#contenitore-menu > ul{

  color:white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}
.icona{
  display:block;
  width:10%;
}
.icona img{
  width:100%;
  
  margin-right: 0 auto;
}

.etichetta{
  display: block;
  width: 90%;  
  font-size: 15px;
}
#contenitore-menu > ul >li{
  
  border-bottom: 1px solid var(--primary-dark);

 margin-bottom: 10px;
  
}
ul>li > .etichetta{
  color:yellow;
  font-weight: bold;
}
ul>li > ul > li >.etichetta{
  color:white;
  font-weight: normal;
  font-size:12px;
}
ul li{
  display: flex;
  flex-direction: row;
  width:100%;
  flex-wrap: wrap;
}
ul>li>ul>li:hover{
  background-color: rgb(82, 95, 106);
  cursor: pointer;
}



}
