#vista-mercato {
  width: 95%;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "box-informazioni box-informazioni"
    "container-giocatori container-riepilogo";

  #container-info-squadra {
    grid-area: box-informazioni;
    gap: 10px;
  }
  #box-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #box-calcoli {
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    > div {
      min-width: 100px;
      border-radius: 15px;
      border: 1px solid var(--border);
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      text-align: center;
      padding: 10px;
      background-color: var(--background-card);
    }
  }
  #container-giocatori {
    grid-area: container-giocatori;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
  }
  #container-riepilogo {
    grid-area: container-riepilogo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
  }
}
