#vista-mercato {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(200, 200, 200);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  s {
  }
  #contenitore-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    background-color: aqua;
  }
  #container-giocatori,
  #contenitore-da-svincolare {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .card-giocatore {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid rgb(1, 1, 37);
    align-items: center;
  }
  .card-giocatore > div {
    display: flex;
    min-width: fit-content;
    justify-content: space-evenly;
    align-items: center;
  }
  .ruolo {
    width: 10%;
    text-align: center;
  }
  .squadra {
    margin: 0 auto;
    text-align: center;
  }
  .squadra img {
    width: 40px;
    height: 40px;
    display: block;
  }
  .nome-giocatore {
    width: 50%;
    color: rgb(2, 2, 2);
    font-size: large;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: left;
  }
  .quotazione,
  .prezzo-pagato,
  .costo-cessione,
  .media-voto,
  .fanta-media-voto,
  .presenze {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 100%;
  }
  .etichetta {
    color: rgb(51, 51, 51);
    font-size: xx-small;
    height: 20%;
  }
  .valore {
    color: rgb(0, 0, 54);
    font-size: 100;
    height: 80%;
  }
  .icona {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .icona:hover {
    scale: 1.5em;
    background-color: brown;
  }
}
