#vista-mercato {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(200, 200, 200);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  o {
  }

  #container-giocatori,
  #container-da-svincolare {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  /*CARD GIOCATORE */
  .card-giocatore {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid rgb(61, 61, 61);
  }
  #container-da-svincolare .card-giocatore {
    background-color: rgb(255, 0, 0);
  }
  #container-da-svincolare .valore,
  #container-da-svincolare .etichetta,
  #container-da-svincolare .nome-giocatore {
    color: white;
  }

  .card-giocatore:hover {
    transform: scale(1.05);
    cursor: pointer;
    border-left: 5px solid green;
  }

  .card-giocatore:hover div div .nome-giocatore {
    color: green;
  }

  /* BOX SX ruolo e squadra */
  #box-sx {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .ruolo {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .squadra img {
    width: 40px;
    height: 40px;
    display: block;
  }

  /* BOX centrale nome sopra e statistiche sotto */
  #box-centrale {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #box-centrale > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .quotazione,
  .prezzo-pagato,
  .media-voto,
  .fanta-media-voto,
  .presenze {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 6);
    height: 100%;
  }
  .costo-cessione {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .costo-cessione div {
    color: rgb(0, 92, 23);
    font-weight: bolder;
  }

  .costo-cessione .valore {
    font-size: 34px;
  }
  .etichetta {
    color: rgb(51, 51, 51);
    font-size: xx-small;
    white-space: wrap;
    text-align: center;
  }
  .valore {
    color: rgb(0, 0, 54);
    font-family: "Arial Narrow Bold", sans-serif;
    font-size: x-small;
    text-align: center;

    /* height: 80%; */
  }

  #box-dx {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .nome-giocatore {
    height: 50%;
    color: rgb(2, 2, 2);
    font-size: 24px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: left;
  }

  #box-statistiche {
    display: flex;
    flex-direction: row;
    height: 50%;
  }

  .icona {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .icona:hover {
    transform: scale(1.5);
    background-color: brown;
  }

  /* CONTENITORE INFO SQUADRA */

  #container-info-squadra {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
  }
  #box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #container-info-squadra #box-info #nome-presidente {
    font-size: large;
    letter-spacing: 15px;
    font-style: oblique;
    text-align: center;
  }
  #container-info-squadra #box-info #nome-squadra {
    font-family: "Arial Narrow Bold", sans-serif;
    font-size: 6em;
    font-weight: 700;
    text-align: center;
  }

  #container-info-squadra #box-calcoli {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #container-info-squadra #box-calcoli div {
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
  }

  #container-info-squadra #box-calcoli .etichetta {
    font-size: small;
  }
  #container-info-squadra #box-calcoli .valore {
    font-size: 25pt;
    color: rgb(7, 137, 0);
  }
}
