#modal-statistiche {
  position: fixed;
  z-index: 999; /* sopra a tutto */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); /* fondo nero un pò trasparente */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
#popup-statistiche {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 60%;
  max-height: 80vh;
  overflow-y: scroll;
  box-shadow: 0px 0px 50px var(--primary-dark);
  border: 3px solid var(--primary-dark);
  border-radius: 20px;
  padding: 20px;

  #info-st {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "campo-nome campo-nome campo-nome campo-nome"
      "campo-ruolo campo-squadra campo-squadra campo-squadra"
      "campo-qt campo-pre campo-goal campo-assist";

    gap: 5px;
  }
  .campo-nome {
    grid-area: campo-nome;
  }
  .campo .qt {
    grid-area: campo-qt;
  }
  .campo .pre {
    grid-area: campo-pre;
  }
  .campo .goal {
    grid-area: campo-goal;
  }
  .campo .assist {
    grid-area: campo-assist;
  }
  .campo-squadra {
    grid-area: campo-squadra;
  }
}
