ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contenitore-menu {
  background-color: azure;
  width: 100%;
}
#contenitore-menu > ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
}
#contenitore-menu ul li {
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

#contenitore-menu ul li:hover {
  background-color: rgb(167, 167, 168);
  border-bottom: 2px solid blue;
}
#contenitore-menu > ul > li > ul {
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
}

#contenitore-menu > ul > li:hover > ul {
  display: block;
}
