* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("../../Assets/image/sfondo.png");
  background-repeat: repeat;
  background-size: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var (--font-titolo);
  text-transform: uppercase;
  color: rgb(0, 35, 76);
}

main {
  position: relative;
}

.caricamento {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: x-large;
  color: white;
  font-weight: bold;
  text-wrap: wrap;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.icona-ricerca-possessi {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.icona-ricerca-possessi:hover {
  width: 15px;
  height: 15px;
  transform: scale(1.15);
}

#vista-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* STILI PER LA TABELLA */

#container-table {
  display: flex;
  align-content: center;
  max-width: 95%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
table > tbody tr > td:nth-child(14),
table > tbody tr > td:nth-child(13),
table > tbody tr > td:nth-child(12),
table > tbody tr > td:nth-child(11) {
  width: 55px;
  background-color: rgba(132, 154, 175, 0.2);
}
table > tbody tr > td:nth-child(7),
table > tbody tr > td:nth-child(6) {
  width: 55px;
  color: var(--background_primario);
}

table > tbody tr > td:nth-child(8),
table > tbody tr > td:nth-child(9) {
  width: 55px;
  color: green;
}

table > tbody tr > td:nth-child(10),
table > tbody tr > td:nth-child(6),
table > tbody tr > td:nth-child(5),
table > tbody tr > td:nth-child(4),
table > tbody tr > td:nth-child(1) {
  width: 55px;
}
table > tbody tr > td:nth-child(2),
table > tbody tr > td:nth-child(3) {
  width: 80px;
}

.vista-modale {
  position: absolute;
  left: 50%;
  display: flex;
  width: 50%;
}

#vista-dati {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid lightgray;
  border-spacing: 10px 15px;
  border-collapse: collapse;
  overflow: scroll;
  margin: 0 auto;
}

table thead {
  height: 40px;
  max-height: 40px;
  text-align: left;
  font-size: 14px;
  background-color: rgb(2, 87, 156);
  color: white;
}

table tbody tr {
  font-size: 15px;
  background-color: hsl(0, 0%, 100%);
  color: rgb(35, 36, 39);
}
table tbody tr td,
table thead tr th {
  text-align: center;
  padding: 5px;
}
table tbody tr td:nth-child(1),
table tbody tr td:nth-child(2),
table tbody tr td:nth-child(3) {
  text-align: left;
  padding-left: 5px;
  width: max-content;
}
table tbody tr:hover td {
  background-color: rgb(236, 243, 253);
}
table tr:nth-child(even) td {
  background-color: rgb(245, 247, 250);
}

.logo-menu-index {
  width: auto;
  height: 40vh;
  margin: 0 auto;
  text-align: center;
}

#container-table th[data-order="asc"]::after {
  content: " ↑";
}
#container-table th[data-order="desc"]::after {
  content: " ↓";
}

#popup-caricamento {
  background-color: var(--background_primario);
  color: white;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#popup-caricamento h3 {
  font-size: x-large;
  margin: 0 auto;
  color: white;
  text-align: center;
  line-height: 50vh;
}

.fuorilista {
  color: rgb(116, 116, 116);
}

.selected {
  font-weight: bold;
  color: white;
  background-color: var(--background_primario);
}
span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: calc(1em + 6px);
  height: calc(1em + 6px);
  color: white;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span.P {
  background-color: hsl(40, 94%, 52%, 1);
  color: white;
}
span.D {
  background-color: hsl(96, 70%, 46%, 1);
  color: white;
}
span.C {
  background-color: hsl(217, 93%, 52%, 1);
  color: white;
}
span.A {
  background-color: hsl(351, 89%, 53%, 1);
  color: white;
}

table thead tr.intestazione-colonne th {
  font-weight: 100;
  font-variant: small-caps;
  font-size: small;
  font-family: monospace;
  cursor: pointer;
}
table thead tr.intestazione-colonne th:hover {
  text-decoration: underline;
  color: aqua;
}

.logo-campionato {
  height: 40px;
  cursor: pointer;

  box-sizing: border-box;
}

.squadra-di-appartenenza {
  font-style: italic;
  font-weight: 100;
}
.cella-quotazione {
  color: var(--background_primario);
  font-weight: bold;
}
tfoot tr td {
  padding: 5px;
}
tr td img {
  width: 18px;
  text-align: center;
}

.box-thead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}
div #contenitore-nome {
  display: flex;
  flex-direction: column;
}

.ruoloMancante {
  color: #b60000;
}

.logo_lega {
  height: 50px;
  background-color: white;
  padding: 5px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

/* Overlay che copre tutto lo schermo */
.overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Sfondo scuro semitrasparente */
  z-index: 9999; /* Sta sopra a tutto */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Trasforma qualsiasi contenitore in un popup gigante sopra lo schermo */
.modal-attivo {
  position: fixed !important;
  top: 5%;
  left: 5%;
  width: 60% !important;
  height: 70% !important;
  background-color: white;
  z-index: 9999; /* Sta sopra a tutto */
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  padding: 20px;
}

/* Sfondo nero semitrasparente dietro al popup */
.modal-attivo::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

#modal-statistiche {
  position: fixed;
  z-index: 999; /* sopra a tutto */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); /* fondo nero un pò trasparente */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
#popup-statistiche {
  position: fixed;
  display: flex;

  align-items: center;
  flex-direction: column;
  z-index: 9999;
  background-color: white;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 0px 50px var(--background_primario);
  border: 3px solid var(--background_primario);
  border-radius: 20px;
  padding: 20px;
}
#popup-statistiche div {
  width: 100%;
  position: relative;
}
/*bottone x */
#popup-statistiche .x {
  position: absolute;
  top: -20px; /* Distanza dal bordo superiore del popup durante lo scroll */
  right: -20px;
  align-self: flex-end; /* La spinge tutto a destra nel layout flex */
  margin-left: auto; /* Spinge la X tutto a destra */
  margin-right: 2px; /* Evita che appiccichi al bordo destro */
  z-index: 10; /* Rimane sopra ai testi che le passano sotto */

  width: 24px; /* Leggermente più grande per comodità di click */
  height: 24px;
  background-color: red;
  color: white;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

#popup-statistiche .x:hover {
  background-color: rgb(193, 1, 1);
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.icona-statistiche {
  width: 15px;
  height: 15px;
  text-align: center;
}

#popup-statistiche .container-info-giocatore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-statistiche-giocatore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.campo-nome {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: var(--background_primario);
}
.campo-squadra {
  font-size: 16px;
  font-style: italic;
  color: rgb(0, 35, 76);
}
.campo-quotazione {
  font-size: 18px;
  font-weight: bold;
  color: var(--background_primario);
  text-align: center;
}

.campo {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.etichetta {
  font-size: 12px;
  font-style: italic;
  color: rgb(0, 35, 76);
  text-align: center;
}
.valore {
  font-size: 18px;
  font-weight: bold;
  color: rgb(35, 36, 39);
  text-align: center;
  color: var(--background_primario);
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--background_primario);
}

td {
  font-size: x-small;
}

.nome-squadra {
  /* sui cellulari non visibile */
  display: none;
}
.cella-quotazione img {
  /* immagine soldo sui cellulari non visibile */
  display: none;
}

.colonna-MV5,
.colonna-FMV5,
.colonna-BM5,
.colonna-pre5,
.colonna-possesso {
  /* Stili per le colonne delle statistiche delle ultime 5 partite non visibili sui cellulari*/
  display: none;
}

/* quando si supera i 490px di larghezza, mostra nome squadra, immagine soldi e colonne MV5, FMV5, BM5 */
@media all and (min-width: 600px) {
  .colonna-MV5,
  .colonna-FMV5,
  .colonna-BM5,
  .colonna-pre5,
  .colonna-possesso {
    display: table-cell;
  }
  #popup-statistiche {
    width: 50%;
    top: 10px;
  }
}
@media all and (min-width: 1000px) {
  #popup-statistiche {
    width: 500px;
    top: 10px;
  }
}
@media all and (min-width: 1090px) {
  .nome-squadra {
    display: inline;
  }
  .cella-quotazione img {
    display: inline;
  }
}
