/*  */

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("../../Assets/image/sfondo.png");
  background-repeat: repeat;
  background-size: 100vh;
  position: relative;
  padding-bottom: 60px; /**/
}
footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;

  left: 0;
  background-repeat: repeat-x;
  background-image: url(/Assets/image/erba.png);
  background-size: contain;

  background-repeat: repeat-x; /* Ripete l'erba in orizzontale */
  background-position: bottom;
  background-size: contain; /* Assicura che l'erba mantenga le proporzioni */

  z-index: 9999; /* La tiene sopra ogni altro elemento */
  pointer-events: none; /* FONDAMENTALE: permette di cliccare i link "sotto" l'erba */
  mask-image: linear-gradient(to top, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, black 80%, transparent 100%);
}
/* spazio che serve a non far sovrapporre l'erba alla scritta quando è lunga */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var (--font-titolo);
  text-transform: uppercase;
  color: rgb(0, 35, 76);
}

main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.caricamento {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: x-large;
  color: white;
  font-weight: bold;
  text-wrap: wrap;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.icona-ricerca-possessi {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.icona-ricerca-possessi:hover {
  width: 15px;
  height: 15px;
  transform: scale(1.15);
}

#vista-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.vista-modale {
  position: absolute;
  left: 50%;
  display: flex;
  width: 50%;
}

#vista-dati {
  display: flex;
  flex-direction: column;
}

.logo-menu-index {
  width: auto;
  height: 40vh;
  margin: 0 auto;
  text-align: center;
}

#popup-caricamento {
  background-color: var(--background_primario);
  color: white;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#popup-caricamento h3 {
  font-size: x-large;
  margin: 0 auto;
  color: white;
  text-align: center;
  line-height: 50vh;
}

.fuorilista {
  color: rgb(116, 116, 116);
}

.selected {
  font-weight: bold;
  color: white;
  background-color: var(--background_primario);
}
span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: calc(1em + 6px);
  height: calc(1em + 6px);
  color: white;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span.P {
  background-color: hsl(40, 94%, 52%, 1);
  color: white;
}
span.D {
  background-color: hsl(96, 70%, 46%, 1);
  color: white;
}
span.C {
  background-color: hsl(217, 93%, 52%, 1);
  color: white;
}
span.A {
  background-color: hsl(351, 89%, 53%, 1);
  color: white;
}

.logo-campionato {
  height: 40px;
  cursor: pointer;

  box-sizing: border-box;
}

.squadra-di-appartenenza {
  font-style: italic;
  font-weight: 100;
}

div #contenitore-nome {
  display: flex;
  flex-direction: column;
}

.ruoloMancante {
  color: #b60000;
}

.logo_lega {
  height: 50px;
  background-color: white;
  padding: 5px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

/* Overlay che copre tutto lo schermo */
.overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Sfondo scuro semitrasparente */
  z-index: 9999; /* Sta sopra a tutto */
  display: flex;
  justify-content: center;
  align-items: center;
}

.campo-nome {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: var(--background_primario);
}
.campo-squadra {
  font-size: 16px;
  font-style: italic;
  color: rgb(0, 35, 76);
}
.campo-quotazione {
  font-size: 18px;
  font-weight: bold;
  color: var(--background_primario);
  text-align: center;
}
