:root {
  --background_primario: rgb(2, 87, 156);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  position: relative;
}
#navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--background_primario);
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
ul li {
  text-align: center;
  margin-left: 0;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  min-width: 100px;
}
ul li:hover {
  background-color: rgb(47, 241, 255);
  color: rgb(0, 14, 36);
  scale: 1.2;
  font-weight: bold;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
h1 {
  text-align: left;
  font-size: 30px;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

#container-giornate {
  margin-bottom: 20px;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#container-giornate div {
  border: 1px solid gainsboro;
  border-radius: 50%;
  gap: 5px;
  width: 20px;
  height: 20px;
  padding: 5px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
#container-giornate div:hover {
  border: 2px solid rgb(108, 215, 223);
  font-weight: bold;
}

.icona-ricerca-possessi {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.icona-ricerca-possessi:hover {
  width: 15px;
  height: 15px;
  transform: scale(1.15);
}

/* STILI PER LA TABELLA */

#container-table {
  display: flex;
  align-content: center;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}

table {
  width: 65%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid lightgray;
  border-spacing: 10px 15px;
  border-collapse: collapse;
}

table thead {
  font-weight: bold;
  height: 40px;
  max-height: 40px;
  text-align: left;
  font-size: 18px;
  background-color: rgb(2, 87, 156);
  color: white;
}

table tbody tr {
  font-size: 15px;
  background-color: hsl(0, 0%, 100%);
  color: rgb(35, 36, 39);
}
table tbody tr td,
table thead tr th {
  padding: 10px;
}
table tbody tr:hover td {
  background-color: rgb(236, 243, 253);
}
table tr:nth-child(even) td {
  background-color: rgb(245, 247, 250);
}

#container-filtri label {
  margin: 10px;
  font-size: 14px;
  font-style: italic;
}
#container-filtri select {
  padding-left: 10px;
}
.logo-menu {
  width: 100px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.logo-menu-index {
  width: auto;
  height: 60vh;
  margin: 0 auto;
  text-align: center;
}

table thead th:hover {
  color: rgb(131, 220, 255);
}

#container-table th {
  cursor: pointer;
  user-select: none;
}

#container-table th[data-order="asc"]::after {
  content: " ↑";
}
#container-table th[data-order="desc"]::after {
  content: " ↓";
}

#popup-caricamento {
  background-color: var(--background_primario);
  color: white;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#popup-caricamento h3 {
  text-align: center;
  line-height: 50vh;
}

/* ---------------- F I L T R I --------------------------


/* contenitore che contiene tutti i box filtro */
#container-filtri {
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: rgb(236, 243, 253);
  box-shadow: 3px 3px 10px rgba(22, 25, 44, 0.2);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: auto;
  margin-bottom: 10px;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 10px;
}

/* Contenitore singolo, ogni .box-filtro va nel contenitore principale */
.box-filtro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(197, 209, 223);
  gap: 7px;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

/* label dentro il box filtro */
.box-filtro label {
  position: absolute;
  top: -20px;
  left: 3px;
  font-size: xx-small;
  font-style: italic;
  background-color: rgb(236, 243, 253);
  padding: 0 3px;
  white-space: nowrap;
}

.ruolo {
  width: 30px;
  height: 30px;

  line-height: 30px;
  border-radius: 50%;
  color: rgb(0, 4, 43);
  border: 1px solid rgb(170, 200, 255);
  cursor: pointer;
  transition: 0.2s;
}

.filtro-ruolo:hover {
  border-color: 2px solid var(--background_primario);
  font-weight: bold;
  scale: 1.2;
}

.selected {
  background-color: black;
}

.fuorilista {
  color: gray;
}
